<section>
    <div class="home-container">
        <!-- the header of home component , category name and category path -->
        <div class="home-header">
            <h2>{{categoryName}}</h2>
            <p>Home/products/{{categoryName}}</p>
        </div>
        <div class="container">
            <!-- filter section include all category names -->
            <div class="filter-block">
                <div class="filter">
                    <h4>Products</h4>
                    <form [formGroup]="filterForm">
                        <div class="category">
                            <input id="All-Products" type="radio" name="category" formControlName="category" value=""
                                (select)="true" (change)="filltration()">
                            <label for="All-Products">All Products <span *ngIf="categoryName=='All Products'">({{products.length}})</span></label>
                        </div>
                        <div class="category" *ngFor="let c of categories">
                            <input id="{{c}}" type="radio" name="category" formControlName="category" value="{{c}}"
                                (change)="filltration()">
                            <label for="{{c}}">{{c}} <span *ngIf="categoryName==c">({{products.length}})</span></label>
                        </div>
                    </form>
                </div>
            </div>
           <!-- products section include all products cards -->
            <div class="products">
                <div class="products-container">
                    <div class="product-block"
                        *ngFor="let product of productsSearch | paginate: { itemsPerPage: 9, currentPage: pageNo }">
                        <div class="product-card">
                            <span class="discount">
                                -{{product.discountPercentage}}%
                            </span>
                            <div class="img-block">
                                <img src="{{product.thumbnail}}" alt="">
                            </div>
                            <div class="product-details">
                                <div class="card-header">
                                    <h3>{{product.title}}</h3>
                                    <p>{{product.description}}</p>
                                </div>

                                <div class="price">
                                    <p class="old-price">
                                        <span>{{((product.price/100*product.discountPercentage)+product.price).toFixed(2)}}
                                        </span>USD
                                    </p>
                                    <p><span> {{product.price}} </span>USD </p>
                                </div>
                                <div class="more-details">
                                    <p>Brand : <span>{{product.brand}}</span></p>
                                    <p>Category : <span>{{product.category}}</span></p>
                                    <p>In Stock : <span>{{product.stock}}</span></p>

                                </div>

                                <div class="rating">
                                    <p><span><i class="fas fa-star"></i> {{product.rating}} </span>
                                        ({{product.reviews.length}})
                                    </p>
                                </div>

                                <div class="card-btn">
                                    <button (click)="addToCart(product)">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- pagination block -->
                <div class="pagi">
                    <pagination-controls (pageChange)="pageNo = $event"></pagination-controls>
                </div>
            </div>
        </div>


    </div>
</section>